@import '../../components/variables.css';

@media (min-width: 600px) {
  .root {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: var(--max-content-width);
  }
}