@import '../variables.css';

.root {
  border: 1px solid #ccc;
  font-size: 9px;
  height: 12px;
  margin: 1px;
  outline: none;
  padding: 0;
  text-align: center;
  width: 12px;
}
.root[data-status='0'] {
  background: #fff;
  color: #ccc;
}
.root[data-status='1'] {
  background: #eee;
  color: #aaa;
}
.root[data-status='2'] {
  background: #aaa;
  color: #fff;
}
.root[data-status='3'] {
  background: #666;
  color: #ddd;
}
.root[data-status='4'] {
  background: #000;
  color: #fff;
}
