@import '../variables.css';

.root {
  flex-basis: 10%;
  height: 0;
  padding-bottom: 8%;
  position: relative;
}
.button {
  border: 1px solid var(--grey4);
  bottom: 1px;
  cursor: pointer;
  font-size: 12px;
  left: 1px;
  outline: none;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
}
.button[data-status='0'] {
  background: var(--blue-light);
  color: var(--white);
}
.button[data-status='1'] {
  background: var(--blue);
  color: var(--white);
}
.button[data-status='2'] {
  background: #aaa;
  color: #fff;
}
.button[data-status='3'] {
  background: #666;
  color: #ddd;
}
.button[data-status='4'] {
  background: #000;
  color: #fff;
}
.label {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}
