@import '../../variables.css';

.progress {
  flex-grow: 1;
  height: var(--row-height);
  margin: 0 var(--text-padding);
}

.receipt {
  height: 0;
  -webkit-transition: var(--show-height) var(--show-time) var(--show-type);
  -moz-transition: var(--show-height) var(--show-time) var(--show-type);
  -ms-transition: var(--show-height) var(--show-time) var(--show-type);
  -o-transition: var(--show-height) var(--show-time) var(--show-type);
  transition: var(--show-height) var(--show-time) var(--show-type);
  overflow: hidden;
}

.receiptreveal {
  height: 81px;
  -webkit-transition: var(--show-height) var(--show-time) var(--show-type);
  -moz-transition: var(--show-height) var(--show-time) var(--show-type);
  -ms-transition: var(--show-height) var(--show-time) var(--show-type);
  -o-transition: var(--show-height) var(--show-time) var(--show-type);
  transition: var(--show-height) var(--show-time) var(--show-type);
}

.textline {
  display: block;
  padding: 0 var(--text-padding);
}
